# Exemplo de Variáveis de Ambiente para publicação na Vercel
PORT=3000

# Conexão com Banco Neon DB (Opcional - PostgreSQL)
# DATABASE_URL=postgresql://neondb_owner:password@ep-xxxxxx.us-east-2.aws.neon.tech/neondb?sslmode=require
